#contentEditable, #lastPostContent {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin-left: 4%;
  margin-top: 1%;
}

#post-content-editable {
  border: 1px solid #D6D6D6;
  height: auto;
  min-height: 500px;
  margin-bottom: 10px;
}
